/* Syntaxes
   - margin-top
   - margin-right
   - margin-bottom
   - margin-left
   - margin: top right bottom left
   - margin: top left-right bottom
   - margin: top-bottom left-right
   - margin: all
*/

.list-item {
    color: #00F;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 8px;
}