/* 
    display: flex
    flex-direction: row* | column
    justify-content: flex-start* | flex-end | center | space-between | 
    space-around | space-evenly 
    align-items: flex-start | flex-end | center | baseline | stretch*

    flex-basis: <length>
    flex-grow: 0* | <number>
    flex-shrink: 1* | <number>
    order: 0* | <number>
*/

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #DDD;
    color: white;
}

.child-1 {
    background-color: #F00;
    flex-basis: 100px;
    flex-grow: 1;
    order: 1;
}

.child-2 {
    background-color: #0F0;
    flex-basis: 100px;
    flex-grow: 1;
}

.child-3 {
    background-color: #00F;
    flex-basis: 200px;
    flex-grow: 1;
}