body {
    font-family: Arial, sans-serif;
}
  
.weekly-song {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #DDD;
}
  
.weekly-song .number {
    font-size: 20px;
    padding: 0 8px;
}
  
.weekly-song .info-song {
    font-size: 14px;
    flex-grow: 1;
}
  
.weekly-song .song-name {
    margin-bottom: 8px;
}
  
.weekly-song .singer-name {
    font-size: 13px;
    color: #999;
}
  
.weekly-song .views {
    font-size: 13px;
    color: #999;
}