/* 
position: static* | relative | fixed | absolute | sticky

*/

body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    /* position: relative;
    left: 10px; */
}

.blue {
    background-color: blue;
}

.fixed {
    position: fixed;
    right: 0;
    top: 0;
}