body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFF;
    font-size: 20px;
}

.album-cover {
    width: 128px;
    height: 128px;
    background-color: #DDD;
    background-image: url('https://loremflickr.com/320/240');
    background-size: cover;
    background-position: center;
}

.album-cover .overlay {
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: flex-end;
    padding: 8px;
    box-sizing: border-box;
}