/* .float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
} */

/* ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #EEE;
}

ul li {
    float: left;
    padding: 8px 16px;
    background-color: #DDD;
}

p {
    clear: left;
} */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    height: 100px;
    background-color: red;
}

.wrapper {
    background-color: green;
}

.sidebar {
    float: left;
    width: 20%;
}

.main {
    margin-left: 20%;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.footer {
    height: 100px;
    background-color: blue;
}