/* p {
    font-size: 18px;
}

#intro {
    font-weight: bold;
}

.center {
    text-align: center;
}

h1, p {
    columns: #888;
    font-family: sans-serif;
} */

a[target] {
    color: red;
}

input[type="text"] {
    border: 1px solid red;
}