.container {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 50px;
    text-align: center;
    background-color: #DDD;
    border: 1px solid #888;
}

@media (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .item {
        flex-grow: 1;
    }
}