body {
    margin: 0;
}

/* .button {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 8px 16px;
    display: inline-block;
    margin: 8px;
    background-color: #DDD;
    transition: all 0.5s;
}

.button:hover {
    color: #FFF;
    background-color: #8393C5;
} */

.album-cover {
    width: 128px;
    height: 128px;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    background-position: center;
    font-size: 35px;
    color: #FFF;
}

.album-cover .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.album-cover .overlay i {
    transform: scale(0.8);
    transition: all 0.5s;
}

.album-cover:hover .overlay {
    opacity: 1;
}

.album-cover:hover .overlay i {
    transform: scale(1);
}