body {
    margin: 0;
}

.album-square {
    width: 128px;
    height: 128px;
    background-image: url('https://loremflickr.com/320/240');
    background-size: cover;
    background-position: center;
    color: #FFF;
    font-size: 40px;
}

.album-square .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.album-square:hover .overlay {
    opacity: 1;
}