/* 
    background-color: color;
    background-color: transparent;
    background-color: gradient;
*/

body {
    background-color: #00F;
    font-family: sans-serif;
}

.list-item {
    color: #F00;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #EEE;
}

.list-item-transparent {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #FFF;
}