/* 
States:
    a:link
    a:visited
    a:hover
    a:active
*/

.default-link {
    color: #2B2B98;
}

.default-link:link {
    text-decoration: none;
    font-family: sans-serif;
}

.default-link:visited {

}

.default-link:hover {
    text-decoration: underline;
}

.default-link:active {
    color: #F00;
}

.button-link {
    background-color: #38419A;
    text-decoration: none;
    color: #FFF;
    font-family: Arial, sans-serif;
    padding: 8px 13px;
}

.button-link:hover {
    background-color: #141A52;
}