/* 
    background-image: url(...)
    background-repeat: repeat-x | repeat-y | no-repeat | repeat* | ...
    background-size: % | contain | cover | auto* | ...
    background-position: x y | center
    background-attachment: scroll* | fixed
*/

body {
    background-color: #00F;
    font-family: sans-serif;
}

.list-item {
    color: #F00;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #EEE;
}

.list-item-transparent {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #FFF;
}

.list-item-pattern {
    background-image: url('./pattern.jpg');
    background-size: 20%;
    height: 100px;
    color: #FFF;
}

.list-item-image {
    background-image: url('./bg.jpg');
    height: 100px;
    color: #FFF;
    background-size: cover;
    background-position: 0 -4000px;
}

.list-item-parallax {
    background-image: url('./bg.jpg');
    height: 100px;
    color: #FFF;
    background-size: cover;
    background-position: -5px;
    background-attachment: fixed;
}