/* Syntaxes
   - padding-top
   - padding-right
   - padding-bottom
   - padding-left
   - padding: top right bottom left
   - padding: top left-right bottom
   - padding: top-bottom left-right
   - padding: all
*/

.list-item {
    color: #00F;
    font-weight: bold;
    padding: 10px 12px 14px 16px;
}