body {
    margin: 0;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #DDD;
}

.inner-container {
    width: 200px;
    height: 200px;
    background-color: #888;
    position: relative;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #0F517F;
    position: absolute;
    bottom: 0;
}