.center {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

p {
    text-indent: 10px;
    line-height: 1.5;
}