body {
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    padding: 8px 16px;
}

.menu li:hover {
    background-color: #DDD;
}

.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu{
    display: block;
}

.submenu {
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #DDD;
}