/* 
Syntax
    border-width: 1px
    border-style: solid | dotted | dashed | ...
    border-color: red
Shorthand:
    border: 1px solid red;
Note:
    border-width: top right bottom left
    border-width: top left-right bottom
    border-width: top-bottom left-right

    border-top-width: 1px
    border-right-width: 1px
    ...

    border-radius: ;
*/

.list-item {
    color: #F00;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}